.container-grid-chat {
	background: black;
	display: grid;
	grid-template-columns: 24fr;
	height: 93vh;
}

/* Contacs Menu */
.grid-chat-left {
	background-color: whitesmoke;
}

.contact {
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact:hover{
    background-color: rgb(240, 237, 237);
}

.new-contact {
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contacts a {
	text-decoration: none;
	color: black;
	padding-right: 15px;
	padding-left: 15px;
}


/* Chat Panel */
.grid-chat-right {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*margin-left: 1.5px;*/
    background-image: url('../images/chat-bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%;
	overflow: auto; 
}

.chat {
    height: 77vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items:center;
	overflow: auto;
}

.message-left {
    display: inline-block;   
    padding: 10px; 
    margin: 10px 20px 0px 30px; 
    border-radius: 5px;
    max-width: 80%; 
    word-wrap: break-word;
    background-color: white;
    align-self: flex-start;
    margin-right: auto;
    border-radius:15px;
    border-color: black;
    border-style: solid;
}


.message-right {
	display: inline-block; 
	padding: 10px; 
	margin: 10px 30px 0px 20px; 
    border-radius: 5px;
    max-width: 80%; 
    align-self: flex-end;
    margin-left: auto;  
	word-wrap: break-word;
    background-color: rgb(126, 225, 126);
    border-radius:15px;
    border-color: black;
    border-style: solid;
}

/* Input Panel */
.input-field {
    height: 16vh;
    width: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.input-box-1 {
	width: 60%;
	height: 40px;
	border: 3px solid black;
	border-radius: 60px;
	color: whitesmoke;
	cursor: pointer;
	margin-bottom: 20px;
}

.input-box-1 input {
	width: 95%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	padding: 0px 20px;
	font-size: 15px;
	color: black;
}

.input-box-1 input::placeholder {
	color: black;
}

.input-field button {
	text-decoration: none;
	align-content: center;
	text-align: center;
	width: 5%;
	height: 43px;
	border: none;
	font-size: 15px;
	color: whitesmoke;
	background-color: black;
	border-radius: 60px;
	cursor: pointer;
	margin-bottom: 20px;
    margin-left: 10px;
}

.input-field button:hover {
	background-color: #A4B07E;
}
